body{
    background-color:#ffd60a;
    text align:center;
}

h1{
    font-family: "Astloch", system-ui;
  font-weight: 700;
  font-style: normal;
   margin: 100px;
  line-height: 1; 
  font-size: 100%;
  border: 1px solid white;
  background-color: azure;
  text-align: left;
}
p{ 
    margin: 15px 0;
    background-color: azure;
    text-align: left;
}