body{
    background-color:#ffd60a;
    text align:justify;
}

h1{
   margin: 100px;
  line-height: 1; 
  font-size: 100%;
  border: 1px solid white;
  background-color: azure;
}
p{ 
    margin: 15px 0;
    background-color: azure;
}