body{
    background-color:#ffd60a;
    margin: 10px 20px 10px;
    text align:justify;
}

h1{
   margin: 100px;
  line-height: 1; 
  font-size: 100%;
  border: 1px solid white;
}
p{ 
    margin: 15px 0;
}