body{ 
  text-align: justify;
  font-family: "Pacifico", cursive;
    background-color:#ad2831
}

header{
  text-align: center;
    background-color: azure;
    font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}
  h1 {
  text-align: center;
        background-color: azure;
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2{
    background-color: antiquewhite;
 font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ol{
  text-align: left;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: azure;
}
p{
  background-color: azure;
}
h1, h2, h3 {
  font-weight: bold;
  font-style: italic;
}

nav {
  background-color: #333;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffcc00; /* yellow when hovering */
}

about.htmlbody{ 
  background-color:#f7b801;
}