body{ 
  text-align: justify;
  font-family: "Pacifico", cursive;
    background-color:#ad2831
}

header{
  text-align: center;
    background-color: azure;
    font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}
  h1 {
  text-align: center;
        background-color: azure;
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2{
    background-color: antiquewhite;
 font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ol{
  text-align: left;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
p{
  background-color: azure;
}
h1, h2, h3 {
  font-weight: bold;
  font-style: italic;
}